@font-face {
	font-family: 'Varino';
	src: url(../../assets/fonts/VarinoLight-Regular.woff2) format('woff2'),
	url(../../assets/fonts/VarinoLight-Regular.woff) format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}